<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>


    <div class="container">
      <br><br><br>

          <div class="container">
              <form method="POST">
              {% csrf_token %}
              {{form.as_p}}
                  <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
              </form>
              Don't have an account? <a href="#"><strong>register here</strong></a>!
          </div>
      <br><br>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
