{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <p>Investor Name: <strong>{{ current_user.first_name|upper }} {{ current_user.last_name|upper }}</strong></p>
    </div>
    <div class="col">
      <p>Total Investments: <strong>GHS {{ total_investments }}</strong></p>
    </div>
  </div>
</div>

<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Notes</th>
              <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in investments %}
        <tr>
            <th scope="row">{{ forloop.counter }}.</th>
            <td>{{ obj.date|date:"d M. Y" }}</td>
            {% if obj.notes == '0' %}
                <td>-</td>
            {% else %}
                <td>{{ obj.notes }}</td>
            {% endif %}
            <td>{{ obj.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}